body {
    margin: 2em;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    height: 100vh;
    background-image: radial-gradient(farthest-corner at 66vw 12vh, white, lightblue 70%, #93bfcd);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 1em;
    grid-template-areas:
        'begindate  enddate   '
        'developers projects   '
        'status     status    ';
}
#begindate {
    grid-area: begindate;
}
#enddate {
    grid-area: enddate;
}
#projects {
    grid-area: projects;
    perspective: 100vw;
}

#developers {
    grid-area: developers;
    perspective: 100vw;
}
#status {
    grid-area: status;
}
.project, .developer {
    height: 5em;
    border: 2px solid gray;
    border-radius: 0.5em;
    margin-top: 0.5em;
    padding: 1em;
}
.project {
    background: linear-gradient(110deg, #8bb1ae, #739996 60%, #8cc9c5 60%, #76B2AE);
    color: white;
    transform: rotateY(-20deg);
    transform-origin: right center;
}
.developer {
    background: linear-gradient(110deg, #8A8AB2, #8A8AB2 59%, #7A7AA2 60%, #7A7AA2);
    color: white;
    transform: rotateY(20deg);
    transform-origin: left center;
}
.developer:hover {
    box-shadow: -.2em .2em .2em .2em rgba(0,0,0,.2);
}
.project:hover {
    box-shadow:  .2em .2em .2em .2em rgba(0,0,0,.2);
}

.drop {
    box-shadow: 0 0 0.5em 0.5em palegoldenrod;
}
button {
    font-size: 1em;
}